MONGODB_URI=
OPENAI_API_KEY=
BRIGHT_DATA_API_KEY=
BRIGHT_DATA_SERP_ENDPOINT=
BRIGHT_DATA_WEB_SCRAPER_ENDPOINT=
BRIGHT_DATA_WEB_UNLOCKER_ENDPOINT=
AMI_SESSION_SECRET=
AMI_CREDENTIAL_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
